.branding1-branding {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.branding1-text {
  color: rgba(18, 40, 33, 1);
  font-size: 24px;
  line-height: 36px;
}
.branding1-icon {
  width: 7px;
  height: 7px;
}
.branding1-text1 {
  color: rgba(18, 40, 33, 1);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
}
@media(max-width: 991px) {
  .branding1-icon {
    display: none;
  }
  .branding1-text1 {
    display: none;
  }
}

.footer1-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
}
.footer1-information {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer1-content {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer1-header {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer1-text {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 18px;
  max-width: 600px;
  font-family: Lato;
  line-height: 27px;
}
.footer1-contact-list {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer1-contact {
  gap: 11px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer1-image {
  width: 24px;
  height: 18px;
  object-fit: cover;
}
.footer1-text1 {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 18px;
  font-family: Lato;
  line-height: 18px;
}
.footer1-contact1 {
  gap: 11px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer1-image1 {
  width: 18px;
  height: 24px;
  object-fit: cover;
  margin-left: 3px;
  margin-right: 3px;
}
.footer1-text2 {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 18px;
  font-family: Lato;
  line-height: 18px;
}
.footer1-copyright {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 14px;
  font-family: Lato;
  line-height: 21px;
}
.footer1-links {
  gap: 110px;
  display: flex;
  align-items: flex-start;
  padding-right: 126px;
  flex-direction: row;
}
.footer1-column {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer1-column1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer1-text3 {
  text-decoration: none;
}
.footer1-text4 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .footer1-footer {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer1-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer1-header {
    gap: var(--dl-space-space-unit);
  }
  .footer1-copyright {
    display: none;
  }
  .footer1-links {
    gap: var(--dl-space-space-threeunits);
    padding-right: 0px;
    flex-direction: column;
  }
}

.get-aquote-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.get-aquote-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
.get-aquote-navbar-interactive {
  width: 100%;
  height: 125px;
  display: flex;
  position: relative;
  max-width: 1324px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.get-aquote-branding {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.get-aquote-text {
  color: rgb(18, 40, 33);
}
.get-aquote-icon {
  width: 7px;
  height: 7px;
}
.get-aquote-text01 {
  color: rgb(18, 40, 33);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
}
.get-aquote-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.get-aquote-desktop-menu {
  display: flex;
}
.get-aquote-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.get-aquote-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.get-aquote-hamburger {
  width: 100px;
  object-fit: cover;
}
.get-aquote-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: #fff;
}
.get-aquote-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.get-aquote-branding1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.get-aquote-text02 {
  color: rgba(18, 40, 33, 1);
  font-size: 24px;
  line-height: 36px;
}
.get-aquote-icon02 {
  width: 7px;
  height: 7px;
}
.get-aquote-text03 {
  color: rgba(18, 40, 33, 1);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
}
.get-aquote-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-aquote-icon04 {
  width: 34px;
  height: 34px;
}
.get-aquote-links1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.get-aquote-button {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
  border-radius: 28px;
  background-color: rgb(18, 40, 33);
}
.get-aquote-button1 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
  border-radius: 28px;
  background-color: rgb(18, 40, 33);
}
.get-aquote-button2 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
  border-radius: 28px;
  background-color: rgb(18, 40, 33);
}
.get-aquote-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  margin-top: auto;
  justify-content: flex-start;
}
.get-aquote-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.get-aquote-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.get-aquote-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.get-aquote-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.get-aquote-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.get-aquote-text06 {
  color: rgb(18, 40, 33);
  width: auto;
  height: auto;
  font-size: 40px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 51px;
}
.get-aquote-link {
  transition: 0.3s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.get-aquote-link:hover {
  color: #ffffff;
  background-color: var(--dl-color-primary-100);
}
.get-aquote-text11 {
  font-family: Arial Black;
}
.get-aquote-improve {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 68px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.get-aquote-tabs {
  gap: var(--dl-space-space-fiveunits);
  right: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: -13px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.get-aquote-container2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 110px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #122821;
}
.get-aquote-header {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.get-aquote-title {
  color: rgb(230, 249, 224);
  width: 100%;
  font-size: 36px;
  max-width: 800px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 46px;
}
.get-aquote-description {
  color: rgb(230, 249, 224);
  width: 100%;
  font-size: 20px;
  max-width: 550px;
  text-align: center;
  font-family: Lato;
  line-height: 30px;
}
.get-aquote-email {
  width: 400px;
  height: 60px;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-top: 2px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 60px;
  padding-right: 2px;
  flex-direction: row;
  padding-bottom: 2px;
  justify-content: center;
  background-color: #F3F3F3;
}
.get-aquote-textinput {
  flex: 1;
  color: #122821;
  outline: inherit;
  font-family: Lato;
  font-weight: 600;
  background-color: transparent;
}
.get-aquote-email1 {
  width: 400px;
  height: 60px;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-top: 2px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 60px;
  padding-right: 2px;
  flex-direction: row;
  padding-bottom: 2px;
  justify-content: center;
  background-color: #F3F3F3;
}
.get-aquote-textinput1 {
  flex: 1;
  color: #122821;
  outline: inherit;
  font-family: Lato;
  font-weight: 600;
  background-color: transparent;
}
.get-aquote-submit {
  width: 56px;
  cursor: pointer;
  height: 56px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #122821;
}
.get-aquote-submit:hover {
  background-color: #408770;
}
.get-aquote-image {
  width: 18px;
  filter: brightness(0) saturate(100%) invert(88%) sepia(8%) saturate(484%) hue-rotate(62deg) brightness(111%) contrast(95%);
  transform: rotate(-45deg);
  object-fit: cover;
}
.get-aquote-tabs1 {
  gap: var(--dl-space-space-fiveunits);
  top: 115px;
  left: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.get-aquote-newsletter {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 120px;
  border-color: var(--dl-color-gray-black);
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 120px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.get-aquote-header1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.get-aquote-text12 {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 56px;
  max-width: 800px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.get-aquote-text13 {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}
.get-aquote-content {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.get-aquote-email2 {
  width: 400px;
  height: 60px;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-top: 2px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 60px;
  padding-right: 2px;
  flex-direction: row;
  padding-bottom: 2px;
  justify-content: center;
  background-color: #F3F3F3;
}
.get-aquote-textinput2 {
  flex: 1;
  color: #122821;
  outline: inherit;
  font-family: Lato;
  font-weight: 600;
  background-color: transparent;
}
.get-aquote-submit1 {
  width: 56px;
  cursor: pointer;
  height: 56px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #122821;
}
.get-aquote-submit1:hover {
  background-color: #408770;
}
.get-aquote-image1 {
  width: 18px;
  filter: brightness(0) saturate(100%) invert(88%) sepia(8%) saturate(484%) hue-rotate(62deg) brightness(111%) contrast(95%);
  transform: rotate(-45deg);
  object-fit: cover;
}
@media(max-width: 991px) {
  .get-aquote-navbar-interactive {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .get-aquote-icon {
    display: none;
  }
  .get-aquote-text01 {
    display: none;
  }
  .get-aquote-icon02 {
    display: none;
  }
  .get-aquote-text03 {
    display: none;
  }
  .get-aquote-improve {
    gap: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .get-aquote-newsletter {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .get-aquote-text12 {
    font-size: 32px;
  }
  .get-aquote-text13 {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 767px) {
  .get-aquote-burger-menu {
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    border-radius: var(--dl-radius-radius-round);
    justify-content: center;
    background-color: #E6F9E0;
  }
  .get-aquote-hamburger {
    width: 16px;
    height: 8px;
  }
  .get-aquote-button {
    color: rgb(18, 40, 33);
    padding-left: 0px;
    background-color: transparent;
  }
  .get-aquote-button1 {
    color: rgb(18, 40, 33);
    padding-left: 0px;
    background-color: transparent;
  }
  .get-aquote-button2 {
    color: rgb(18, 40, 33);
    padding-left: 0px;
    background-color: transparent;
  }
  .get-aquote-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .get-aquote-text06 {
    height: auto;
    font-size: 32px;
    line-height: 41px;
    padding-bottom: 5px;
  }
  .get-aquote-text07 {
    height: 134px;
    font-size: 32px;
    line-height: 41px;
    padding-bottom: 5px;
  }
  .get-aquote-text08 {
    height: 134px;
    font-size: 32px;
    line-height: 41px;
    padding-bottom: 5px;
  }
  .get-aquote-tabs {
    gap: var(--dl-space-space-threeunits);
  }
  .get-aquote-tabs1 {
    gap: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 479px) {
  .get-aquote-text {
    top: 0px;
    left: 0px;
    position: absolute;
  }
  .get-aquote-desktop-menu {
    display: none;
  }
  .get-aquote-burger-menu {
    display: flex;
  }
  .get-aquote-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .get-aquote-text06 {
    color: rgb(18, 40, 33);
    width: auto;
    height: auto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 51px;
  }
  .get-aquote-text07 {
    width: 449px;
    height: 166px;
  }
  .get-aquote-text08 {
    width: 449px;
    height: 166px;
  }
  .get-aquote-container2 {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .get-aquote-title {
    font-size: 32px;
    line-height: 41px;
  }
  .get-aquote-description {
    font-size: 16px;
    line-height: 24px;
  }
  .get-aquote-email {
    width: 100%;
  }
  .get-aquote-email1 {
    width: 100%;
  }
  .get-aquote-email2 {
    width: 100%;
  }
}
