.card-card {
  position: relative;
}
.card-header {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.card-icon {
  height: 50px;
  object-fit: cover;
}
.card-heading {
  color: rgb(18, 40, 33);
  font-size: 24px;
  max-width: 600px;
  font-style: normal;
  font-weight: 500;
}
.card-text {
  color: rgb(18, 40, 33);
  max-width: 600px;
  font-family: Lato;
  line-height: 24px;
}

.cards-cards {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.cards-row {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: stretch;
}
.cards-row1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.cards-row2 {
  gap: var(--dl-space-space-twounits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: stretch;
}
@media(max-width: 991px) {
  .cards-cards {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .cards-cards {
    align-items: flex-end;
    justify-content: flex-end;
  }
  .cards-row {
    flex-direction: column;
  }
  .cards-row1 {
    flex-direction: column;
  }
  .cards-row2 {
    flex-direction: column;
  }
}

.branding-branding {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.branding-text {
  color: rgba(18, 40, 33, 1);
  font-size: 24px;
  line-height: 36px;
}
.branding-icon {
  width: 7px;
  height: 7px;
}
.branding-text1 {
  color: rgba(18, 40, 33, 1);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
}
@media(max-width: 991px) {
  .branding-icon {
    display: none;
  }
  .branding-text1 {
    display: none;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
}
.footer-information {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-content {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-header {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 18px;
  max-width: 600px;
  font-family: Lato;
  line-height: 27px;
}
.footer-contact-list {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-contact {
  gap: 11px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-image {
  width: 24px;
  height: 18px;
  object-fit: cover;
}
.footer-text1 {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 18px;
  font-family: Lato;
  line-height: 18px;
}
.footer-contact1 {
  gap: 11px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-image1 {
  width: 18px;
  height: 24px;
  object-fit: cover;
  margin-left: 3px;
  margin-right: 3px;
}
.footer-text2 {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 18px;
  font-family: Lato;
  line-height: 18px;
}
.footer-copyright {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 14px;
  font-family: Lato;
  line-height: 21px;
}
.footer-links {
  gap: 110px;
  display: flex;
  align-items: flex-start;
  padding-right: 126px;
  flex-direction: row;
}
.footer-column {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-column1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text3 {
  text-decoration: none;
}
.footer-text4 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .footer-footer {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-header {
    gap: var(--dl-space-space-unit);
  }
  .footer-copyright {
    display: none;
  }
  .footer-links {
    gap: var(--dl-space-space-threeunits);
    padding-right: 0px;
    flex-direction: column;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
.home-navbar-interactive {
  width: 100%;
  height: 125px;
  display: flex;
  position: relative;
  max-width: 1324px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-branding {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-text {
  color: rgb(18, 40, 33);
}
.home-icon {
  width: 7px;
  height: 7px;
}
.home-text01 {
  color: rgb(18, 40, 33);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-desktop-menu {
  display: flex;
}
.home-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-navlink {
  transition: 0.3s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink:hover {
  color: #ffffff;
  background-color: var(--dl-color-primary-100);
}
.home-text02 {
  font-family: Arial Black;
}
.home-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-hamburger {
  width: 100px;
  object-fit: cover;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: #fff;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-branding1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-text03 {
  color: rgba(18, 40, 33, 1);
  font-size: 24px;
  line-height: 36px;
}
.home-icon02 {
  width: 7px;
  height: 7px;
}
.home-text04 {
  color: rgba(18, 40, 33, 1);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon04 {
  width: 34px;
  height: 34px;
}
.home-links1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-button {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
  border-radius: 28px;
  background-color: rgb(18, 40, 33);
}
.home-button1 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
  border-radius: 28px;
  background-color: rgb(18, 40, 33);
}
.home-button2 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
  border-radius: 28px;
  background-color: rgb(18, 40, 33);
}
.home-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  margin-top: auto;
  justify-content: flex-start;
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 700px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.home-content {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  position: relative;
  max-width: 1280px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.home-title {
  color: rgb(18, 40, 33);
  height: 717px;
  font-size: 72px;
  max-width: 600px;
  font-style: normal;
  font-weight: 500;
  line-height: 92px;
}
.home-image {
  left: 23px;
  width: 222px;
  bottom: -243px;
  height: 303px;
  position: absolute;
  object-fit: cover;
}
.home-image01 {
  width: 581px;
  height: 725px;
  object-fit: cover;
}
.home-mission {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: center;
  padding-top: 120px;
  padding-left: 290px;
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: flex-start;
}
.home-text07 {
  color: rgb(18, 40, 33);
  font-size: 40px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 500;
  line-height: 51px;
}
.home-tabs {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text15 {
  color: rgb(18, 40, 33);
  height: 181px;
  font-size: 40px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 51px;
}
.home-navlink1 {
  transition: 0.3s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink1:hover {
  color: #ffffff;
  background-color: var(--dl-color-primary-100);
}
.home-text18 {
  font-family: Arial Black;
}
.home-improve {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 140px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 37px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.home-tabs1 {
  gap: var(--dl-space-space-fiveunits);
  top: 37px;
  left: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.home-services {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-text19 {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 56px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 500;
}
.home-testimonials {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 110px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #122821;
}
.home-content1 {
  gap: 56px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-quote1 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  font-family: Lato;
  line-height: 30px;
}
.home-author {
  gap: 4px;
  flex: 1;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-name {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #ffffff;
  border-top-width: 1px;
}
.home-origin {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 18px;
  max-width: auto;
  text-align: center;
  font-family: Lato;
  line-height: 27px;
}
.home-image02 {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-quote3 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  font-family: Lato;
  line-height: 30px;
}
.home-author1 {
  gap: 4px;
  flex: 1;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-name1 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  max-width: 120px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #ffffff;
  border-top-width: 1px;
}
.home-origin1 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 18px;
  max-width: 120px;
  text-align: center;
  font-family: Lato;
  line-height: 27px;
}
.home-image03 {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-quote5 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  font-family: Lato;
  line-height: 30px;
}
.home-author2 {
  gap: 4px;
  flex: 1;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-name2 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  max-width: 120px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #ffffff;
  border-top-width: 1px;
}
.home-origin2 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 18px;
  max-width: 120px;
  text-align: center;
  font-family: Lato;
  line-height: 27px;
}
.home-image04 {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-quote7 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  font-family: Lato;
  line-height: 30px;
}
.home-author3 {
  gap: 4px;
  flex: 1;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-name3 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  max-width: 120px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #ffffff;
  border-top-width: 1px;
}
.home-origin3 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 18px;
  max-width: 120px;
  text-align: center;
  font-family: Lato;
  line-height: 27px;
}
.home-controls {
  gap: var(--dl-space-space-oneandhalfunits);
  right: 0px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
}
.home-partners {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 130px;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: 130px;
  border-bottom-width: 1px;
}
.home-content2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.home-text38 {
  color: #122821;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
}
.home-partners-desktop {
  gap: var(--dl-space-space-fourunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-column {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image05 {
  width: 49px;
  height: 48px;
}
.home-column1 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image09 {
  width: 55px;
  height: 57px;
}
.home-image10 {
  width: 54px;
  height: 58px;
}
.home-column2 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image13 {
  width: 114px;
  height: 20px;
}
.home-image15 {
  width: 86px;
  height: 82px;
}
.home-column3 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-partners-mobile {
  gap: var(--dl-space-space-fourunits);
  flex: 1;
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: row;
}
.home-row {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-column4 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-column5 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-column6 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-banner {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.home-container3 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 110px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #122821;
}
.home-header {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-title1 {
  color: rgb(230, 249, 224);
  width: 100%;
  font-size: 36px;
  max-width: 800px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 46px;
}
.home-description {
  color: rgb(230, 249, 224);
  width: 100%;
  font-size: 20px;
  max-width: 550px;
  text-align: center;
  font-family: Lato;
  line-height: 30px;
}
.home-mission1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 120px;
  align-items: flex-end;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-content3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: column;
}
.home-text42 {
  color: rgb(18, 40, 33);
  font-size: 40px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 500;
}
.home-description1 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text43 {
  color: rgb(18, 40, 33);
  font-size: 20px;
  max-width: 800px;
  font-family: Lato;
  line-height: 30px;
}
.home-galleries {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-gallery-desktop {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-column7 {
  gap: var(--dl-space-space-twounits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-column8 {
  gap: var(--dl-space-space-twounits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-gallery-mobile {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
  max-width: 1280px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-mission2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-sixunits);
  align-items: flex-end;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 120px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-content4 {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: column;
}
.home-quote8 {
  color: rgb(18, 40, 33);
  font-size: 40px;
  max-width: 1000px;
  font-style: italic;
  font-weight: 400;
  line-height: 51px;
}
.home-author4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-details {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-name4 {
  color: rgb(18, 40, 33);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.home-origin4 {
  color: rgb(18, 40, 33);
  font-size: 20px;
}
.home-newsletter {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 120px;
  border-color: var(--dl-color-gray-black);
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 120px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.home-header1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text44 {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 56px;
  max-width: 800px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.home-text45 {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}
.home-content5 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-email {
  width: 400px;
  height: 60px;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-top: 2px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 60px;
  padding-right: 2px;
  flex-direction: row;
  padding-bottom: 2px;
  justify-content: center;
  background-color: #F3F3F3;
}
.home-textinput {
  flex: 1;
  color: #122821;
  outline: inherit;
  font-family: Lato;
  font-weight: 600;
  background-color: transparent;
}
.home-submit {
  width: 56px;
  cursor: pointer;
  height: 56px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #122821;
}
.home-submit:hover {
  background-color: #408770;
}
.home-image36 {
  width: 18px;
  filter: brightness(0) saturate(100%) invert(88%) sepia(8%) saturate(484%) hue-rotate(62deg) brightness(111%) contrast(95%);
  transform: rotate(-45deg);
  object-fit: cover;
}
@media(max-width: 991px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-icon {
    display: none;
  }
  .home-text01 {
    display: none;
  }
  .home-icon02 {
    display: none;
  }
  .home-text04 {
    display: none;
  }
  .home-hero {
    gap: var(--dl-space-space-threeunits);
    height: auto;
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
    justify-content: flex-start;
  }
  .home-image {
    display: none;
  }
  .home-image01 {
    width: 517px;
    height: 649px;
  }
  .home-mission {
    gap: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-text07 {
    font-size: 18px;
    text-align: center;
    line-height: 23px;
  }
  .home-improve {
    gap: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-services {
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
  }
  .home-text19 {
    max-width: 500px;
    text-align: center;
  }
  .home-testimonials {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-container2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-controls {
    position: static;
  }
  .home-partners {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: 60px;
  }
  .home-content2 {
    align-items: center;
    justify-content: center;
  }
  .home-text38 {
    text-align: center;
  }
  .home-partners-desktop {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .home-column {
    flex-direction: row;
  }
  .home-column1 {
    flex-direction: row;
  }
  .home-column2 {
    flex-direction: row;
  }
  .home-column3 {
    flex-direction: row;
  }
  .home-partners-mobile {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .home-row {
    gap: 10px;
    flex-direction: row;
  }
  .home-column4 {
    gap: 10px;
    flex-direction: row;
  }
  .home-image25 {
    width: 84px;
    height: 59px;
  }
  .home-image26 {
    width: 142px;
    height: 27px;
  }
  .home-column5 {
    gap: 10px;
    flex-direction: row;
  }
  .home-column6 {
    gap: 10px;
    flex-direction: row;
  }
  .home-partner28 {
    display: none;
  }
  .home-partner29 {
    display: none;
  }
  .home-partner30 {
    display: none;
  }
  .home-banner {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-mission1 {
    margin-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-text42 {
    font-size: 30px;
  }
  .home-gallery-desktop {
    display: none;
  }
  .home-gallery-mobile {
    gap: var(--dl-space-space-halfunit);
    display: flex;
  }
  .home-mission2 {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-content4 {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-quote8 {
    font-size: 30px;
  }
  .home-avatar {
    width: 60px;
    height: 60px;
  }
  .home-details {
    flex-direction: column;
  }
  .home-newsletter {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text44 {
    font-size: 32px;
  }
  .home-text45 {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 767px) {
  .home-burger-menu {
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    border-radius: var(--dl-radius-radius-round);
    justify-content: center;
    background-color: #E6F9E0;
  }
  .home-hamburger {
    width: 16px;
    height: 8px;
  }
  .home-button {
    color: rgb(18, 40, 33);
    padding-left: 0px;
    background-color: transparent;
  }
  .home-button1 {
    color: rgb(18, 40, 33);
    padding-left: 0px;
    background-color: transparent;
  }
  .home-button2 {
    color: rgb(18, 40, 33);
    padding-left: 0px;
    background-color: transparent;
  }
  .home-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-title {
    font-size: 36px;
    line-height: 46px;
  }
  .home-mission {
    align-items: center;
  }
  .home-tabs {
    gap: var(--dl-space-space-threeunits);
  }
  .home-text15 {
    height: 134px;
    font-size: 32px;
    line-height: 41px;
    padding-bottom: 5px;
  }
  .home-tabs1 {
    gap: var(--dl-space-space-threeunits);
  }
  .home-content2 {
    align-items: center;
  }
  .home-image25 {
    width: 27px;
    height: 22px;
  }
  .home-image26 {
    width: 49px;
    height: 9px;
  }
  .home-image27 {
    width: 20px;
    height: 22px;
  }
  .home-partner28 {
    display: none;
  }
  .home-partner29 {
    display: none;
  }
  .home-partner30 {
    display: none;
  }
}
@media(max-width: 479px) {
  .home-text {
    top: 0px;
    left: 0px;
    position: absolute;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-navlink {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-title {
    width: 445px;
  }
  .home-image {
    display: none;
  }
  .home-image01 {
    right: 20px;
    width: 446px;
    bottom: -9px;
    height: 569px;
    position: absolute;
    align-self: flex-start;
  }
  .home-text15 {
    width: 449px;
    height: 166px;
  }
  .home-services {
    flex-direction: column;
  }
  .home-container2 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-content1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-quote1 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Lato;
    line-height: 24px;
  }
  .home-author {
    gap: var(--dl-space-space-halfunit);
  }
  .home-name {
    width: 120px;
    font-size: 16px;
  }
  .home-origin {
    font-size: 14px;
    line-height: 21px;
  }
  .home-image02 {
    width: 60px;
    height: 60px;
  }
  .home-quote3 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text24 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-author1 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-name1 {
    width: 120px;
    font-size: 16px;
  }
  .home-origin1 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-image03 {
    width: 60px;
    height: 60px;
  }
  .home-quote5 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text28 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-author2 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-name2 {
    width: 120px;
    font-size: 16px;
  }
  .home-origin2 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-image04 {
    width: 60px;
    height: 60px;
  }
  .home-quote7 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text34 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-author3 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-name3 {
    width: 120px;
    font-size: 16px;
  }
  .home-origin3 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-partners {
    margin-top: var(--dl-space-space-fourunits);
  }
  .home-image25 {
    width: 38px;
  }
  .home-image26 {
    width: 51px;
    height: 9px;
  }
  .home-image27 {
    width: 19px;
    height: 22px;
  }
  .home-partner28 {
    display: none;
  }
  .home-partner29 {
    display: none;
  }
  .home-partner30 {
    display: none;
  }
  .home-image35 {
    display: none;
  }
  .home-container3 {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-title1 {
    font-size: 32px;
    line-height: 41px;
  }
  .home-description {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text42 {
    font-size: 18px;
    line-height: 24px;
  }
  .home-text43 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-quote8 {
    font-size: 18px;
    line-height: 23px;
  }
  .home-details {
    gap: 0;
  }
  .home-name4 {
    font-size: 16px;
    line-height: 21px;
  }
  .home-origin4 {
    font-size: 16px;
    line-height: 21px;
  }
  .home-email {
    width: 100%;
  }
}
