<div>
  <link href="./cards.css" rel="stylesheet" />
  <div class="cards-cards">
    <div class="cards-row">
      <div class="card-card card">
        <div class="card-header">
          <img alt="image" src="public/group%201644.svg" class="card-icon" />
          <h3 class="card-heading"><span>Performance Marketing</span></h3>
        </div>
        <p class="card-text">
          <span>
            Maximize ROI with our Performance Marketing strategies. We turn
            clicks into customers, delivering measurable results that skyrocket
            your business.
          </span>
        </p>
      </div>
      <div class="card-card card">
        <div class="card-header">
          <img alt="image" src="public/group%201646.svg" class="card-icon" />
          <h3 class="card-heading"><span>P2P Marketing</span></h3>
        </div>
        <p class="card-text">
          <span>
            Powerful connections, one person at a time. Our P2P Marketing
            approach builds lasting relationships and loyal brand advocates
          </span>
        </p>
      </div>
    </div>
    <div class="cards-row1">
      <div class="card-card card">
        <div class="card-header">
          <img alt="image" src="public/group%201645.svg" class="card-icon" />
          <h3 class="card-heading"><span>Influencer Marketing</span></h3>
        </div>
        <p class="card-text">
          <span>
            Influence the future of your brand with our strategic influencer
            marketing campaigns. We connect you with industry-leading
            influencers to reach and engage your target audience authentically.
          </span>
        </p>
      </div>
      <div class="card-card card">
        <div class="card-header">
          <img alt="image" src="public/group%201643.svg" class="card-icon" />
          <h3 class="card-heading"><span>Graphic Designing</span></h3>
        </div>
        <p class="card-text">
          <span>
            Designs that tell your story. Our Graphic Designing team creates
            visuals that captivate, inspire, and leave a lasting impression.
          </span>
        </p>
      </div>
    </div>
    <div class="cards-row2"></div>
  </div>
</div>
