<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-information">
      <div class="footer-content">
        <div class="footer-header">
          <div class="branding-branding">
            <span class="branding-text"><span>Micee</span></span>
            <svg viewBox="0 0 1024 1024" class="branding-icon">
              <path d="M128 128h768v768h-768z"></path>
            </svg>
            <span class="branding-text1"><span>Marketing</span></span>
          </div>
          <p class="footer-text">
            <span>
              Connect with us for the latest insights and updates. Let's shape
              your brand's future together. Join the Micee community.
            </span>
          </p>
        </div>
        <div class="footer-contact-list">
          <div class="footer-contact">
            <img
              alt="image"
              src="public/group%201639.svg"
              class="footer-image"
            />
            <span class="footer-text1"><span>support@micee.in</span></span>
          </div>
          <div class="footer-contact1">
            <img
              alt="image"
              src="public/group%201640.svg"
              class="footer-image1"
            />
            <span class="footer-text2"><span>+91-96606040125</span></span>
          </div>
        </div>
      </div>
      <span class="footer-copyright">
        <span>©2023 Micee Marketing. All Rights Reserved.</span>
      </span>
    </div>
    <div class="footer-links">
      <div class="footer-column"></div>
      <div class="footer-column1">
        <a
          href="https://www.linkedin.com/company/micee/"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-text3 link"
        >
          <span>Linkedin</span>
        </a>
        <a
          href="https://instagram.com/micee.in?igshid=MzRlODBiNWFlZA=="
          target="_blank"
          rel="noreferrer noopener"
          class="footer-text4 link"
        >
          <span>Instagram</span>
        </a>
        <span class="link"><span>Twitter</span></span>
        <span class="link"><span>Facebook</span></span>
      </div>
    </div>
  </footer>
</div>
