<div>
  <link href="./footer1.css" rel="stylesheet" />
  <footer class="footer1-footer">
    <div class="footer1-information">
      <div class="footer1-content">
        <div class="footer1-header">
          <div class="branding1-branding">
            <span class="branding1-text"><span>Micee</span></span>
            <svg viewBox="0 0 1024 1024" class="branding1-icon">
              <path d="M128 128h768v768h-768z"></path>
            </svg>
            <span class="branding1-text1"><span>Marketing</span></span>
          </div>
          <p class="footer1-text">
            <span>
              Connect with us for the latest insights and updates. Let's shape
              your brand's future together. Join the Micee community.
            </span>
          </p>
        </div>
        <div class="footer1-contact-list">
          <div class="footer1-contact">
            <img
              alt="image"
              src="public/external/group%2016391.svg"
              class="footer1-image"
            />
            <span class="footer1-text1"><span>support@micee.in</span></span>
          </div>
          <div class="footer1-contact1">
            <img
              alt="image"
              src="public/external/group%2016401.svg"
              class="footer1-image1"
            />
            <span class="footer1-text2"><span>+91-96606040125</span></span>
          </div>
        </div>
      </div>
      <span class="footer1-copyright">
        <span>©2023 Micee Marketing. All Rights Reserved.</span>
      </span>
    </div>
    <div class="footer1-links">
      <div class="footer1-column"></div>
      <div class="footer1-column1">
        <a
          href="https://www.linkedin.com/company/micee/"
          target="_blank"
          rel="noreferrer noopener"
          class="footer1-text3 link"
        >
          <span>Linkedin</span>
        </a>
        <a
          href="https://instagram.com/micee.in?igshid=MzRlODBiNWFlZA=="
          target="_blank"
          rel="noreferrer noopener"
          class="footer1-text4 link"
        >
          <span>Instagram</span>
        </a>
        <span class="link"><span>Twitter</span></span>
        <span class="link"><span>Facebook</span></span>
      </div>
    </div>
  </footer>
</div>
